@font-face {
  font-family: 'Bologna';
  src: url('/fonts/BolognaBlack.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Surt';
  src: url('/fonts/SurtNormal-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Surt';
  src: url('/fonts/SurtNormal-Bold.woff2') format('woff2');
  font-weight: bold;
}
