---
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import NavMenu from '../components/NavMenu.astro';
import Perks from '../components/Perks.astro';
import Pricing from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.scss';
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="preload"
      as="font"
      href="/fonts/BolognaBlack.woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="/fonts/SurtNormal-Bold.woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="/fonts/SurtNormal-Regular.woff2"
      crossorigin="anonymous"
    />

    <title>1787 Middleburg Coworking Space</title>

    <meta property="og:site_name" content="1787 Coworking" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="1787 Middleburg Coworking Space" />
    <meta property="og:url" content="https://1787.work/" />
    <meta property="og:image" content="/img/logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="229" />
    <meta property="og:image:width" content="220" />
    <meta
      property="og:description"
      content="1787 is Middleburg's first coworking space. We have a dedicated fiber internet connection, a convenient location in downtown Middleburg, and many membership plans to choose from."
    />
    <meta
      name="description"
      content="1787 is Middleburg's first coworking space. We have a dedicated fiber internet connection, a convenient location in downtown Middleburg, and many membership plans to choose from."
    />
  </head>

  <body
    class="bg-dark-green border-[12px] border-gold h-full overflow-x-hidden w-full"
  >
    <NavMenu />

    <main>
      <div class="flex justify-center">
        <div class="flex justify-center max-w-6xl py-20 w-full lg:py-32">
          <div>
            <h1
              class="p-6 py-18 text-5xl text-center text-gold lg:py-32 lg:text-8xl"
            >
              Middleburg's first coworking space
            </h1>

            <div class="flex justify-center mb-6 w-full lg:mb-0">
              <img alt="" height="100px" src="/img/1787-keys.png" width="100px"
              />
            </div>
          </div>
        </div>
      </div>

      <About />

      <Perks />

      <Pricing />

      <Contact />
    </main>

    <Footer />
  </body>
</html>
