---
import { Img } from 'astro-imagetools/components';

const images = [
  { src: '/src/images/space/1.jpg', caption: '' },
  { src: '/src/images/space/2.jpg', caption: '' },
  { src: '/src/images/space/3.jpg', caption: '' },
  { src: '/src/images/space/4.jpg', caption: '' },
  { src: '/src/images/space/5.jpg', caption: '' }
];
---

<div class="bg-cream flex justify-center w-full" id="about">
  <div class="flex justify-center max-w-6xl py-20 w-full lg:py-32">
    <div class="grid grid-cols-1 gap-x-28 p-6 w-full lg:grid-cols-2">
      <div class="flex flex-col">
        <div class="flex-grow">
          <h2 class="text-4xl text-dark-green lg:text-6xl">
            Premium coworking space in the heart of historic Middleburg
          </h2>

          <p class="my-4 text-dark-green text-lg">
            At 1787, you won't need to drive all the way to Leesburg or Ashburn
            for an elevated coworking space experience. With a fiber-optic,
            high-speed internet connection, unlimited and locally sourced
            organic snacks and drinks, and many membership options to fit your
            needs and budget, 1787 is your answer to getting work done.
          </p>
        </div>

        <div
          class="hidden items-center justify-self-end justify-between lg:flex"
        >
          <span class="font-heading text-lg"
            >0<span id="real-index">1</span>/05</span
          >
          <div>
            <button
              class="border border-gold inline-flex h-14 items-center justify-center mr-3 rounded-full text-gold transition-colors w-14 hover:bg-gold hover:text-white"
              onclick="swiper.slidePrev()"
            >
              <svg
                width="27"
                height="15"
                viewBox="0 0 27 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="stroke-current"
                  d="M27 7.07959L2.1885 7.07959"
                  stroke="#AA7A4E"
                  stroke-width="1.5"></path>
                <path
                  class="stroke-current"
                  d="M0.506571 7.15967V7.15967C4.26605 7.15967 7.31372 10.2073 7.31372 13.9668L7.31372 14.6475"
                  stroke="#AA7A4E"
                  stroke-width="1.5"></path>
                <path
                  class="stroke-current"
                  d="M0.506571 7.15967V7.15967C4.26605 7.15967 7.31372 4.112 7.31372 0.352518V0.352518"
                  stroke="#AA7A4E"
                  stroke-width="1.5"></path>
              </svg>
            </button>
            <button
              class="border border-gold inline-flex h-14 items-center justify-center rounded-full text-gold transition-colors w-14 hover:bg-gold hover:text-white"
              onclick="swiper.slideNext()"
            >
              <svg
                class="rotate-180"
                width="27"
                height="15"
                viewBox="0 0 27 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="stroke-current"
                  d="M27 7.07959L2.1885 7.07959"
                  stroke="#AA7A4E"
                  stroke-width="1.5"></path>
                <path
                  class="stroke-current"
                  d="M0.506571 7.15967V7.15967C4.26605 7.15967 7.31372 10.2073 7.31372 13.9668L7.31372 14.6475"
                  stroke="#AA7A4E"
                  stroke-width="1.5"></path>
                <path
                  class="stroke-current"
                  d="M0.506571 7.15967V7.15967C4.26605 7.15967 7.31372 4.112 7.31372 0.352518V0.352518"
                  stroke="#AA7A4E"
                  stroke-width="1.5"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div>
        <div class="swiper w-full xl:w-[500px] 2xl:w-[700px]">
          <div class="swiper-wrapper">
            {images.map(({ caption, src }) => (
              <div class="swiper-slide !h-72 !w-72 xl:!h-[555px] xl:!w-[525px]">
                <Img
                  alt=""
                  format="webp"
                  height={1050}
                  loading="lazy"
                  objectFit="cover"
                  src={src}
                  width={1050}
                />
                <div class="swiper-caption">{caption}</div>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>

<script is:inline src="https://unpkg.com/swiper@8/swiper-bundle.min.js"
></script>

<script is:inline>
  const swiper = new Swiper('.swiper', {
    loop: true,
    slideToClickedSlide: true,
    slidesPerView: 'auto',
    spaceBetween: 24
  });

  swiper.on('realIndexChange', () => {
    document.querySelector('#real-index').innerText = swiper.realIndex + 1;
  });

  window.swiper = swiper;
</script>
