<div class="bg-cream flex justify-center w-full" id="contact">
  <div class="flex justify-center max-w-6xl py-20 w-full lg:py-32">
    <div class="grid grid-cols-1 gap-x-44 gap-y-11 p-6 w-full lg:grid-cols-2">
      <div>
        <h2 class="text-3xl text-dark-green lg:text-6xl">Contact</h2>

        <p class="mb-8 mt-3 text-lg lg:mt-8">
          Interested in joining 1787 Coworking or learning more about our space
          or membership plans? Please fill out our contact form and we'll get
          back with you shortly.
        </p>

        <img class="h-auto mb-8 w-24 lg:mb-14" src="/img/key.png" />

        <h4 class="text-lg">111 E Washington St Middleburg, VA 20117</h4>
      </div>
      <div class="">
        <form name="contact" method="POST" data-netlify="true">
          <p class="mb-5">
            <label>
              <span class="font-heading"> Name </span>

              <input
                class="bg-transparent border border-dark-green p-4 w-full"
                type="text"
                name="name"
                required
              />
            </label>
          </p>

          <p class="mb-5">
            <label>
              <span class="font-heading"> Email </span>

              <input
                class="bg-transparent border border-dark-green p-4 w-full"
                type="email"
                name="email"
                required
              />
            </label>
          </p>

          <p class="mb-5">
            <label>
              <span class="font-heading"> Message </span>

              <textarea
                class="bg-transparent border border-dark-green p-4 resize-none w-full"
                name="message"
                rows="4"
                required
              >
              </textarea>
            </label>
          </p>

          <button
            class="bg-gold mt-3 p-4 text-lg text-white transition-all w-full hover:brightness-125"
            type="submit"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
