<div class="bg-cream flex justify-center w-full" id="contact">
  <div class="flex justify-center max-w-6xl py-20 w-full lg:py-32">
    <div
      class="grid grid-cols-1 p-6 w-full lg:grid-cols-2"
    >
      <div>
        <h2 class="text-3xl text-dark-green lg:text-6xl">Contact</h2>
      </div>
      <div class="">Inputs here</div>
    </div>
  </div>
</div>
