<footer class="flex justify-center p-14 w-full">
  <nav class="grid grid-cols-4 items-center max-w-6xl lg:grid-cols-5">
    <a class="footer-link" href="#about"> About </a>

    <a class="footer-link" href="#perks"> Perks </a>

    <a href="/" class="flex justify-center p-6 col-span-4 order-first lg:col-span-1 lg:order-none">
      <img
        alt="Smaller 1787 logo with fox and keys"
        class="h-32 w-auto"
        height="140px"
        format="webp"
        src="/img/logo.png"
        width="140px"
      />
    </a>

    <a class="footer-link" href="#pricing"> Pricing </a>

    <a class="footer-link" href="#contact"> Contact </a>
  </nav>
</footer>

<style lang="scss">
  .footer-link {
    @apply px-4 font-heading text-lg text-gold hover:text-light-gold lg:px-20;
  }
</style>
