<nav class="bg-transparent flex justify-center w-full">
  <div
    class="
      p-6
      max-w-6xl
      relative
      w-full
      z-20
      lg:mb-8
      lg:px-0
    "
  >
    <a
      href="/"
      class="absolute left-1/2 my-6 top-0 -translate-x-1/2"
      itemprop="url"
    >
      <div
        itemprop="logo"
        itemscope
        itemtype="https://schema.org/ImageObject"
        itemid="1787logo"
      >
        <img
          alt="1787 Logo with fox and keys"
          class="h-32 w-auto lg:h-52"
          itemprop="url"
          height="229px"
          format="webp"
          src="/img/logo.png"
          width="220px"
        />
        <meta itemprop="height" content="229" />
        <meta itemprop="width" content="220" />
      </div>
      <div class="hidden" itemprop="name">1787 Coworking</div>
    </a>

    <div class="flex lg:hidden justify-end m-2">
      <button
        aria-label="Open navigation menu"
        class="px-2"
        onclick="toggleNavMenu(true)"
      >
        <svg
          class="h-2 w-6"
          fill="none"
          height="9"
          viewBox="0 0 22 9"
          width="22"
          xmlns="http://www.w3.org/2000/svg"
          ><g stroke="#aa7a4e" stroke-width="1.33333"
            ><path d="m0 1.33333h21.3333"></path><path d="m0 8.33325h21.3333"
            ></path></g
          ></svg
        >
      </button>
    </div>

    <div
      class="nav-links bg-dark-green border-[12px] border-gold hidden h-full justify-center left-0 top-0 w-screen z-50 lg:border-none lg:flex lg:h-auto lg:top-auto lg:w-full"
    >
      <div class="absolute left-1/2 my-6 top-0 -translate-x-1/2 lg:hidden">
        <img
          alt="1787 Logo with fox and keys"
          class="h-32 w-auto"
          itemprop="url"
          height="229px"
          format="webp"
          src="/img/logo.png"
          width="220px"
        />
      </div>

      <div class="lg:gap-x-48 lg:grid lg:grid-cols-2">
        <div class="flex lg:hidden justify-end m-2">
          <button
            aria-label="Close navigation menu"
            class="cursor-pointer mr-6 mt-4 px-3 py-2"
            onclick="toggleNavMenu(false)"
          >
            <svg
              fill="none"
              height="17"
              viewBox="0 0 17 17"
              width="17"
              xmlns="http://www.w3.org/2000/svg"
              ><g stroke="#aa7a4e" stroke-width="1.33333"
                ><path d="m1.12402 16.085 15.08498-15.08498"></path><path
                  d="m16.085 16.085-15.08498-15.08498"></path></g
              ></svg
            >
          </button>
        </div>

        <div class="mt-36 lg:flex lg:mt-0">
          <a class="nav-link" href="#about" onclick="toggleNavMenu(false)">
            About
          </a>

          <a class="nav-link" href="#perks" onclick="toggleNavMenu(false)">
            Perks
          </a>
        </div>

        <div class="lg:flex">
          <a class="nav-link" href="#pricing" onclick="toggleNavMenu(false)">
            Pricing
          </a>

          <a class="nav-link" href="#contact" onclick="toggleNavMenu(false)">
            Contact
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  function toggleNavMenu(open) {
    const mobileNavShown = window.innerWidth < 1024;
    if (mobileNavShown) {
      const navLinks = document.querySelector('.nav-links');
      if (open) {
        navLinks.classList.remove('hidden');
        navLinks.classList.add('fixed');
        document.body.style.position = 'fixed';
      } else {
        navLinks.classList.remove('fixed');
        navLinks.classList.add('hidden');
        document.body.style.position = '';
      }
    }
  }
</script>

<style lang="scss">
  .nav-link {
    @apply block w-full px-20 text-center font-heading text-5xl leading-[80px] text-gold transition-colors lg:w-auto lg:text-lg;

    &:hover {
      @apply text-light-gold;
    }
  }
</style>
