<div class="flex justify-center w-full" id="perks">
  <div class="flex justify-center max-w-6xl py-20 w-full lg:py-32">
    <div class="grid grid-cols-1 p-6 w-full lg:grid-cols-3">
      <h2 class="mb-12 text-4xl text-white lg:col-span-1 lg:text-6xl">Why 1787?</h2>

      <div class="lg:col-span-2">
        <ul class="grid grid-cols-1 gap-12 lg:grid-cols-2">
          <li>
            <img class="mb-4" src="/svgs/icons/pin.svg" />
            <h3 class="mb-2 text-gold text-2xl">Location</h3>
            <p class="text-lg text-white">
              1787 is located in the heart of downtown Middleburg. Easily walk
              to coffee shops and restaurants.
            </p>
          </li>
          <li>
            <img class="mb-4" src="/svgs/icons/lightning.svg" />
            <h3 class="mb-2 text-gold text-2xl">High-speed Internet</h3>
            <p class="text-lg text-white">
              We have a dedicated fiber internet connection with speeds of 500
              Mbps up/down.
            </p>
          </li>
          <li>
            <img class="mb-4" src="/svgs/icons/snacks.svg" />
            <h3 class="mb-2 text-gold text-2xl">Snacks & Drinks</h3>
            <p class="text-lg text-white">
              Unlimited snacks and drinks are included with all of our plans.
            </p>
          </li>
          <li>
            <img class="mb-4" src="/svgs/icons/bookable.svg" />
            <h3 class="mb-2 text-gold text-2xl">Bookable Spaces</h3>
            <p class="text-lg text-white">
              Need a space to have a meeting or host clients? Our conference
              room has you covered.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
