<div class="bg-gold flex justify-center w-full" id="pricing">
  <div class="flex justify-center max-w-6xl py-20 w-full lg:py-32">
    <div class="w-full">
      <h2
        class="m-auto pb-16 text-4xl text-center text-white lg:text-6xl w-1/2"
      >
        Pricing &amp; Membership
      </h2>

      <div class="grid grid-cols-1 gap-5 w-full lg:grid-cols-3">
        <div class="bg-white p-6 text-dark-green">
          <div class="flex items-center mb-16">
            <img class="mr-2" src="/svgs/icons/dots.svg" />
            <h3 class="font-body text-2xl">Flex Desk</h3>
          </div>
          <h4 class="text-7xl ">
            $199
            <span class="-ml-4 text-2xl">/mo</span>
          </h4>
        </div>
        <div class="bg-dark-green p-6 text-white">
          <div class="flex items-center mb-16">
            <img class="mr-2" src="/svgs/icons/dots.svg" />
            <h3 class="font-body text-2xl">Dedicated Desk</h3>
          </div>
          <h4 class="text-7xl">
            $399
            <span class="-ml-4 text-2xl">/mo</span>
          </h4>
        </div>
        <div class="bg-white p-6 text-dark-green">
          <div class="flex items-center mb-16">
            <img class="mr-2" src="/svgs/icons/dots.svg" />
            <h3 class="font-body text-2xl">Private Office</h3>
          </div>
          <h4 class="text-7xl">
            $699
            <span class="-ml-4 text-2xl">/mo</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
