<div class="bg-gold flex justify-center w-full" id="pricing">
  <div class="flex justify-center max-w-6xl py-20 w-full lg:py-32">
    <div class="w-full">
      <h2
        class="m-auto pb-16 text-4xl text-center text-white w-52 lg:text-6xl lg:w-1/2"
      >
        Pricing &amp; Membership
      </h2>

      <div class="grid grid-cols-1 gap-5 w-full lg:grid-cols-2">
        <div class="bg-white flex flex-col p-6 text-dark-green">
          <div class="flex items-center mb-18">
            <img class="mr-2" src="/svgs/icons/dots.svg" />
            <h3 class="font-body text-2xl">Flex Desk</h3>
          </div>

          <h4 class="mb-11 text-7xl">
            $199
            <span class="-ml-4 text-2xl">/mo</span>
          </h4>

          <ul class="flex-grow">
            <li class="flex items-center mb-6">
              <div class="check-icon bg-dark-green">
                <img src="/svgs/icons/check.svg" />
              </div>

              First come, first serve desk
            </li>

            <li class="flex items-center mb-6">
              <div class="check-icon bg-dark-green">
                <img src="/svgs/icons/check.svg" />
              </div>

              Unlimited beverages and snacks
            </li>

            <li class="flex items-center mb-6">
              <div class="check-icon bg-dark-green">
                <img src="/svgs/icons/check.svg" />
              </div>

              6 conference room hours /mo
            </li>
          </ul>

          <a
            class="signup-button bg-dark-green text-white"
            href="https://middleburg.optixapp.com/signup/"
          >
            Sign up
          </a>
        </div>

        <div class="bg-white flex flex-col p-6 text-dark-green">
          <div class="flex items-center mb-18">
            <img class="mr-2" src="/svgs/icons/dots.svg" />
            <h3 class="font-body text-2xl">Private Office</h3>
          </div>

          <h4 class="mb-11 text-7xl">
            $699
            <span class="-ml-4 text-2xl">/mo</span>
          </h4>

          <p class="font-bold mb-4 text-gold text-xs uppercase">
            Everything in flex, plus
          </p>

          <ul class="flex-grow">
            <li class="flex items-center mb-6">
              <div class="check-icon bg-dark-green">
                <img src="/svgs/icons/check.svg" />
              </div>

              Private, lockable office space
            </li>

            <li class="flex items-center mb-6">
              <div class="check-icon bg-dark-green">
                <img src="/svgs/icons/check.svg" />
              </div>

              Branded signage options
            </li>

            <li class="flex items-center mb-6">
              <div class="check-icon bg-dark-green">
                <img src="/svgs/icons/check.svg" />
              </div>

              12 conference room hours /mo
            </li>
          </ul>

          <a
            class="signup-button bg-dark-green text-white"
            href="https://middleburg.optixapp.com/signup/"
          >
            Sign up
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .check-icon {
    @apply mr-4 inline-flex h-6 w-6 items-center justify-center justify-self-end rounded-full;
  }

  .signup-button {
    @apply bottom-0 mt-8 w-full p-4 text-center text-lg transition-all hover:brightness-125 lg:mt-18;
  }
</style>
